{% extends "django_scantron/scheduled_scan_base.html" %}

{% block title %}
Scheduled Scans
{% endblock %}

{% block content %}
<h3>
    <a href='/scantron-admin/django_scantron/scan/' title="Create/Update/Delete Scans" class="btn btn-info">
        <i class="fa fa-plus"></i> Create/Update/Delete Scans
    </a>
</h3>

{% if scheduled_scan_list %}
<table id="scan-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Scan ID</th>
            <th>Site Name</th>
            <th>Scan Engine</th>
            <th>Scheduled Start Time</th>
            <th>Scan Command</th>
            <th>Scan Status</th>
            <th>Completion Time</th>
            <th>Result Files</th>
        </tr>
    </thead>

    <tbody>
        {% for scan in scheduled_scan_list %}
        <tr>
            <td>{{ scan.id }}</td>
            <td>{{ scan.site_name }}</td>
            <td>{{ scan.scan_engine }}</td>
            <td>{{ scan.start_datetime|date:"D Y-m-d H:i:s" }} </td>
            <td>{{ scan.scan_binary }} {{ scan.scan_command | truncatechars:255 }}</td>
            <td>{{ scan.scan_status }}</td>
            <td>{{ scan.completed_time|date:"D Y-m-d H:i:s" }}</td>
            {% if scan.scan_binary == "nmap" %}
                {% if scan.scan_status == "completed" %}
                <td>
                    <a href="{% url 'retrieve_scan_file' scan.id %}?file_type=nmap">{{ scan.result_file_base_name }}.nmap</a><br>
                    <a href="{% url 'retrieve_scan_file' scan.id %}?file_type=xml">{{ scan.result_file_base_name }}.xml<br></a>
                    {% if scan.pooled_scan_result_file_base_name %}
                        Pooled: <a href="{% url 'retrieve_scan_file' scan.id %}?file_type=pooled">{{ scan.pooled_scan_result_file_base_name }}<br></a>
                    {% endif %}
                </td>
                {% else %}
                <td>
                    {{ scan.result_file_base_name }}.nmap<br>
                    {{ scan.result_file_base_name }}.xml<br>
                    {% if scan.pooled_scan_result_file_base_name %}
                        Pooled: {{ scan.pooled_scan_result_file_base_name }}<br>
                    {% endif %}
                </td>
                {% endif %}
            {% elif scan.scan_binary == "masscan" %}
                {% if scan.scan_status == "completed" %}
                <td>
                    <a href="{% url 'retrieve_scan_file' scan.id %}?file_type=json">{{ scan.result_file_base_name }}.json<br></a>
                    {% if scan.pooled_scan_result_file_base_name %}
                        Pooled: <a href="{% url 'retrieve_scan_file' scan.id %}?file_type=pooled">{{ scan.pooled_scan_result_file_base_name }}<br></a>
                    {% endif %}
                </td>
                {% else %}
                <td>
                    {{ scan.result_file_base_name }}.json<br>
                    {% if scan.pooled_scan_result_file_base_name %}
                        Pooled: {{ scan.pooled_scan_result_file_base_name }}<br>
                    {% endif %}
                </td>
            {% endif %}
            {% else %}
                <td>Unknown scan_binary</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
No scheduled scans yet.
{% endif %}

{% endblock %}