[Unit]
Description=Scantron agent.py service

[Service]
WorkingDirectory=/root/agent
ExecStart=/root/agent/.venv/bin/python agent.py -c agent_config.json
Restart=always
Type=simple
StandardOutput=null
User=root
Group=root

[Install]
WantedBy=multi-user.target
